<!--Developer: Hunter Hatchette
    Accomplished: Modified the layout to have the links: Bid-Town, Browse, Ending-Soon, 
                  Top-Sellers, Account, Register, Login. The links will navigate to the 
                  appropriate views.-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<Style>
    body{background-color: powderblue;}
</Style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bid-Town", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Browse", "Browse", "Home")</li>
                    <li>@Html.ActionLink("Ending-Soon", "EndingSoon", "Home")</li>
                    <li>@Html.ActionLink("Top-Sellers", "TopSellers", "Home")</li>
                    <li>@Html.ActionLink("Account", "Account", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bid-Town (CSCI-540 Erin/Chris/Hunter)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
